**/__pycache__/
*.py[cod]

*.log

venv/
.env/

**/.hydra/

.DS_Store
Thumbs.db

data/
outputs/
exp_models/
models/
dump/
evaluation_plots/
evaluation/
models/mtl_all/mtl_weights_all.pth
models/mtl_all/mtl_wrapper.pkl
models/tl/global/run_0/tl_1_model.pth
models/tl/global/run_0/tl_1_results.pkl
models/tl/global/run_0/tl_2_model.pth
models/tl/global/run_0/tl_2_results.pkl
models/tl/global/run_0/tl_3_model.pth
models/tl/global/run_0/tl_3_results.pkl
models/tl/global/run_0/tl_4_model.pth
models/tl/global/run_0/tl_4_results.pkl
models/tl/global/run_0/tl_5_model.pth
models/tl/global/run_0/tl_5_results.pkl
models/tl/global/run_0/tl_6_model.pth
models/tl/global/run_0/tl_6_results.pkl
models/tl/global/run_0/tl_7_model.pth
models/tl/global/run_0/tl_7_results.pkl
models/tl/global/run_0/tl_8_model.pth
models/tl/global/run_0/tl_8_results.pkl
models/tl/global/run_0/tl_9_model.pth
models/tl/global/run_0/tl_9_results.pkl
evaluation/accuracy_boxplot.png
evaluation/accuracy_by_cluster.png
evaluation/cm_global.png
evaluation/global_vs_cluster0_scatter.png
evaluation/global_vs_cluster1_scatter.png
evaluation/global_vs_cluster2_scatter.png
evaluation/global_vs_cluster3_scatter.png
evaluation/kappa_boxplot.png
evaluation/kruskal_clusters.txt
evaluation/summary_raw.csv
evaluation/wilcoxon_cluster0.txt
evaluation/wilcoxon_cluster2.txt
evaluation/wilcoxon_cluster3.txt
evaluation_plots/mtl/cluster_accuracy_comparison.png
evaluation_plots/mtl/cluster_scatter_pca_pca.png
evaluation_plots/mtl/cm_mtl_cluster_0_agg.png
evaluation_plots/mtl/cm_mtl_cluster_0_run0.png
evaluation_plots/mtl/cm_mtl_cluster_1_agg.png
evaluation_plots/mtl/cm_mtl_cluster_1_run0.png
evaluation_plots/mtl/cm_mtl_cluster_2_agg.png
evaluation_plots/mtl/cm_mtl_cluster_2_run0.png
evaluation_plots/mtl/cm_mtl_cluster_3_agg.png
evaluation_plots/mtl/cm_mtl_cluster_3_run0.png
evaluation_plots/mtl/cm_mtl_pooled_agg.png
evaluation_plots/mtl/cm_mtl_pooled_run0.png
evaluation_plots/mtl/cm_mtl_subj_1_run0.png
evaluation_plots/mtl/cm_mtl_subj_2_run0.png
evaluation_plots/mtl/cm_mtl_subj_3_run0.png
evaluation_plots/mtl/cm_mtl_subj_4_run0.png
evaluation_plots/mtl/cm_mtl_subj_5_run0.png
evaluation_plots/mtl/cm_mtl_subj_6_run0.png
evaluation_plots/mtl/cm_mtl_subj_7_run0.png
evaluation_plots/mtl/cm_mtl_subj_8_run0.png
evaluation_plots/mtl/cm_mtl_subj_9_run0.png
evaluation_plots/mtl/mtl_cluster_run_metrics.csv
evaluation_plots/mtl/mtl_cluster_stats_metrics.csv
evaluation_plots/mtl/mtl_pooled_run_metrics.csv
evaluation_plots/mtl/mtl_pooled_stats_metrics.csv
evaluation_plots/mtl/mtl_subject_run_metrics.csv
evaluation_plots/mtl/mtl_subject_stats_metrics.csv
evaluation_plots/mtl/mtl_vs_baseline_cluster_run.csv
evaluation_plots/mtl/mtl_vs_baseline_pooled_run.csv
evaluation_plots/mtl/mtl_vs_baseline_subject_run.csv
evaluation_plots/mtl/pooled_accuracy_comparison.png
evaluation_plots/mtl/subject_accuracy_delta_boxplot.png
evaluation_plots/tl/all_model_comparison.csv
evaluation_plots/tl/cm_tl_subject_1_run0.png
evaluation_plots/tl/cm_tl_subject_2_run0.png
evaluation_plots/tl/cm_tl_subject_3_run0.png
evaluation_plots/tl/cm_tl_subject_4_run0.png
evaluation_plots/tl/cm_tl_subject_5_run0.png
evaluation_plots/tl/cm_tl_subject_6_run0.png
evaluation_plots/tl/cm_tl_subject_7_run0.png
evaluation_plots/tl/cm_tl_subject_8_run0.png
evaluation_plots/tl/cm_tl_subject_9_run0.png
evaluation_plots/tl/model_accuracy_boxplot.png
evaluation_plots/tl/tl_pooled_stats.csv
evaluation_plots/tl/tl_subject_run_metrics.csv
evaluation_plots/tl/tl_subject_stats.csv
evaluation_plots/tl/tl_vs_baseline.csv
evaluation/accuracy_boxplot.png
evaluation/accuracy_by_cluster.png
evaluation/cm_global.png
evaluation/global_vs_cluster0_scatter.png
evaluation/global_vs_cluster1_scatter.png
evaluation/global_vs_cluster2_scatter.png
evaluation/global_vs_cluster3_scatter.png
evaluation/kappa_boxplot.png
evaluation/kruskal_clusters.txt
evaluation/summary_raw.csv
evaluation/wilcoxon_cluster0.txt
evaluation/wilcoxon_cluster2.txt
evaluation/wilcoxon_cluster3.txt
evaluation_plots/mtl/cluster_accuracy_comparison.png
evaluation_plots/mtl/cluster_scatter_pca_pca.png
evaluation_plots/mtl/cm_mtl_cluster_0_agg.png
evaluation_plots/mtl/cm_mtl_cluster_0_run0.png
evaluation_plots/mtl/cm_mtl_cluster_1_agg.png
evaluation_plots/mtl/cm_mtl_cluster_1_run0.png
evaluation_plots/mtl/cm_mtl_cluster_2_agg.png
evaluation_plots/mtl/cm_mtl_cluster_2_run0.png
evaluation_plots/mtl/cm_mtl_cluster_3_agg.png
evaluation_plots/mtl/cm_mtl_cluster_3_run0.png
evaluation_plots/mtl/cm_mtl_pooled_agg.png
evaluation_plots/mtl/cm_mtl_pooled_run0.png
evaluation_plots/mtl/cm_mtl_subj_1_run0.png
evaluation_plots/mtl/cm_mtl_subj_2_run0.png
evaluation_plots/mtl/cm_mtl_subj_3_run0.png
evaluation_plots/mtl/cm_mtl_subj_4_run0.png
evaluation_plots/mtl/cm_mtl_subj_5_run0.png
evaluation_plots/mtl/cm_mtl_subj_6_run0.png
evaluation_plots/mtl/cm_mtl_subj_7_run0.png
evaluation_plots/mtl/cm_mtl_subj_8_run0.png
evaluation_plots/mtl/cm_mtl_subj_9_run0.png
evaluation_plots/mtl/mtl_cluster_run_metrics.csv
evaluation_plots/mtl/mtl_cluster_stats_metrics.csv
evaluation_plots/mtl/mtl_pooled_run_metrics.csv
evaluation_plots/mtl/mtl_pooled_stats_metrics.csv
evaluation_plots/mtl/mtl_subject_run_metrics.csv
evaluation_plots/mtl/mtl_subject_stats_metrics.csv
evaluation_plots/mtl/mtl_vs_baseline_cluster_run.csv
evaluation_plots/mtl/mtl_vs_baseline_pooled_run.csv
evaluation_plots/mtl/mtl_vs_baseline_subject_run.csv
evaluation_plots/mtl/pooled_accuracy_comparison.png
evaluation_plots/mtl/subject_accuracy_delta_boxplot.png
evaluation_plots/tl/all_model_comparison.csv
evaluation_plots/tl/cm_tl_subject_1_run0.png
evaluation_plots/tl/cm_tl_subject_2_run0.png
evaluation_plots/tl/cm_tl_subject_3_run0.png
evaluation_plots/tl/cm_tl_subject_4_run0.png
evaluation_plots/tl/cm_tl_subject_5_run0.png
evaluation_plots/tl/cm_tl_subject_6_run0.png
evaluation_plots/tl/cm_tl_subject_7_run0.png
evaluation_plots/tl/cm_tl_subject_8_run0.png
evaluation_plots/tl/cm_tl_subject_9_run0.png
evaluation_plots/tl/model_accuracy_boxplot.png
evaluation_plots/tl/tl_pooled_stats.csv
evaluation_plots/tl/tl_subject_run_metrics.csv
evaluation_plots/tl/tl_subject_stats.csv
evaluation_plots/tl/tl_vs_baseline.csv
evaluation_plots/mtl/cluster_accuracy_comparison.png
evaluation_plots/mtl/cluster_scatter_pca_pca.png
evaluation_plots/mtl/cm_mtl_cluster_0_agg.png
evaluation_plots/mtl/cm_mtl_cluster_0_run0.png
evaluation_plots/mtl/cm_mtl_cluster_1_agg.png
evaluation_plots/mtl/cm_mtl_cluster_1_run0.png
evaluation_plots/mtl/cm_mtl_cluster_2_agg.png
evaluation_plots/mtl/cm_mtl_cluster_2_run0.png
evaluation_plots/mtl/cm_mtl_cluster_3_agg.png
evaluation_plots/mtl/cm_mtl_cluster_3_run0.png
evaluation_plots/mtl/cm_mtl_pooled_agg.png
evaluation_plots/mtl/cm_mtl_pooled_run0.png
evaluation_plots/mtl/cm_mtl_subj_1_run0.png
evaluation_plots/mtl/cm_mtl_subj_2_run0.png
evaluation_plots/mtl/cm_mtl_subj_3_run0.png
evaluation_plots/mtl/cm_mtl_subj_4_run0.png
evaluation_plots/mtl/cm_mtl_subj_5_run0.png
evaluation_plots/mtl/cm_mtl_subj_6_run0.png
evaluation_plots/mtl/cm_mtl_subj_7_run0.png
evaluation_plots/mtl/cm_mtl_subj_8_run0.png
evaluation_plots/mtl/cm_mtl_subj_9_run0.png
evaluation_plots/mtl/mtl_cluster_run_metrics.csv
evaluation_plots/mtl/mtl_cluster_stats_metrics.csv
evaluation_plots/mtl/mtl_pooled_run_metrics.csv
evaluation_plots/mtl/mtl_pooled_stats_metrics.csv
evaluation_plots/mtl/mtl_subject_run_metrics.csv
evaluation_plots/mtl/mtl_subject_stats_metrics.csv
evaluation_plots/mtl/mtl_vs_baseline_cluster_run.csv
evaluation_plots/mtl/mtl_vs_baseline_pooled_run.csv
evaluation_plots/mtl/mtl_vs_baseline_subject_run.csv
evaluation_plots/mtl/pooled_accuracy_comparison.png
evaluation_plots/mtl/subject_accuracy_delta_boxplot.png
evaluation_plots/tl/all_model_comparison.csv
evaluation_plots/tl/cm_tl_subject_1_run0.png
evaluation_plots/tl/cm_tl_subject_2_run0.png
evaluation_plots/tl/cm_tl_subject_3_run0.png
evaluation_plots/tl/cm_tl_subject_4_run0.png
evaluation_plots/tl/cm_tl_subject_5_run0.png
evaluation_plots/tl/cm_tl_subject_6_run0.png
evaluation_plots/tl/cm_tl_subject_7_run0.png
evaluation_plots/tl/cm_tl_subject_8_run0.png
evaluation_plots/tl/cm_tl_subject_9_run0.png
evaluation_plots/tl/model_accuracy_boxplot.png
evaluation_plots/tl/tl_pooled_stats.csv
evaluation_plots/tl/tl_subject_run_metrics.csv
evaluation_plots/tl/tl_subject_stats.csv
evaluation_plots/tl/tl_vs_baseline.csv
evaluation_plots/mtl/cluster_accuracy_comparison.png
evaluation_plots/mtl/cluster_scatter_pca_pca.png
evaluation_plots/mtl/cm_mtl_cluster_0_agg.png
evaluation_plots/mtl/cm_mtl_cluster_0_run0.png
evaluation_plots/mtl/cm_mtl_cluster_1_agg.png
evaluation_plots/mtl/cm_mtl_cluster_1_run0.png
evaluation_plots/mtl/cm_mtl_cluster_2_agg.png
evaluation_plots/mtl/cm_mtl_cluster_2_run0.png
evaluation_plots/mtl/cm_mtl_cluster_3_agg.png
evaluation_plots/mtl/cm_mtl_cluster_3_run0.png
evaluation_plots/mtl/cm_mtl_pooled_agg.png
evaluation_plots/mtl/cm_mtl_pooled_run0.png
evaluation_plots/mtl/cm_mtl_subj_1_run0.png
evaluation_plots/mtl/cm_mtl_subj_2_run0.png
evaluation_plots/mtl/cm_mtl_subj_3_run0.png
evaluation_plots/mtl/cm_mtl_subj_4_run0.png
evaluation_plots/mtl/cm_mtl_subj_5_run0.png
evaluation_plots/mtl/cm_mtl_subj_6_run0.png
evaluation_plots/mtl/cm_mtl_subj_7_run0.png
evaluation_plots/mtl/cm_mtl_subj_8_run0.png
evaluation_plots/mtl/cm_mtl_subj_9_run0.png
evaluation_plots/mtl/mtl_cluster_run_metrics.csv
evaluation_plots/mtl/mtl_cluster_stats_metrics.csv
evaluation_plots/mtl/mtl_pooled_run_metrics.csv
evaluation_plots/mtl/mtl_pooled_stats_metrics.csv
evaluation_plots/mtl/mtl_subject_run_metrics.csv
evaluation_plots/mtl/mtl_subject_stats_metrics.csv
evaluation_plots/mtl/mtl_vs_baseline_cluster_run.csv
evaluation_plots/mtl/mtl_vs_baseline_pooled_run.csv
evaluation_plots/mtl/mtl_vs_baseline_subject_run.csv
evaluation_plots/mtl/pooled_accuracy_comparison.png
evaluation_plots/mtl/subject_accuracy_delta_boxplot.png
evaluation_plots/tl/all_model_comparison.csv
evaluation_plots/tl/cm_tl_subject_1_run0.png
evaluation_plots/tl/cm_tl_subject_2_run0.png
evaluation_plots/tl/cm_tl_subject_3_run0.png
evaluation_plots/tl/cm_tl_subject_4_run0.png
evaluation_plots/tl/cm_tl_subject_5_run0.png
evaluation_plots/tl/cm_tl_subject_6_run0.png
evaluation_plots/tl/cm_tl_subject_7_run0.png
evaluation_plots/tl/cm_tl_subject_8_run0.png
evaluation_plots/tl/cm_tl_subject_9_run0.png
evaluation_plots/tl/model_accuracy_boxplot.png
evaluation_plots/tl/tl_pooled_stats.csv
evaluation_plots/tl/tl_subject_run_metrics.csv
evaluation_plots/tl/tl_subject_stats.csv
evaluation_plots/tl/tl_vs_baseline.csv
evaluation/accuracy_boxplot.png
evaluation/accuracy_by_cluster.png
evaluation/cm_global.png
evaluation/global_vs_cluster0_scatter.png
evaluation/global_vs_cluster1_scatter.png
evaluation/global_vs_cluster2_scatter.png
evaluation/global_vs_cluster3_scatter.png
evaluation/kappa_boxplot.png
evaluation/kruskal_clusters.txt
evaluation/summary_raw.csv
evaluation/wilcoxon_cluster0.txt
evaluation/wilcoxon_cluster2.txt
evaluation/wilcoxon_cluster3.txt
