# Byte‑compiled / optimized files
**/__pycache__/
*.py[cod]

# Logs
*.log

# Python virtualenv
venv/
.env/

# Ignore all outputs and their sub‑dirs
outputs/

# Ignore all plotting/inspection dirs
plots/
inspection_plots/
epoch_boundaries_inspection/
tmin_tmax_plots/
scaling_plots/
mu_beta_plots/

# Hydra run dirs (if outside of outputs/)
**/.hydra/

# Model checkpoints & results
tl_outputs/
trained_models/
dump/

# Mac, Windows files
.DS_Store
Thumbs.db
